## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[88, 62, 64, 70, 36, 40, 54, 16, 77, 17, 78, 84, 41, 99, 28, 91, 89, 37, 3, 97, 92, 80, 55, 2, 74, 24, 14, 20, 32, 71, 66, 5, 96, 11, 34, 60, 79, 22, 58, 44, 9, 69, 50, 61, 63, 67, 0, 13, 4, 51, 6, 27, 65, 90, 57, 93, 33, 29, 53, 23, 83, 52, 87, 21, 49, 25, 30, 72, 94, 68, 43, 81, 15, 26, 38, 73, 85, 19, 39, 10]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here
from random import randrange
sample_list_2 = []

for num in random.sample(range(100), k=80):
    sample_list_2.append(randrange(100))

print(sample_list_2)
print(len(sample_list_2))

[52, 83, 71, 14, 68, 67, 90, 41, 46, 35, 43, 6, 34, 32, 7, 38, 36, 27, 71, 35, 25, 61, 83, 14, 46, 44, 42, 5, 87, 75, 14, 65, 5, 8, 62, 46, 30, 92, 84, 25, 27, 86, 95, 25, 58, 58, 20, 32, 75, 48, 66, 29, 33, 50, 75, 50, 7, 61, 66, 46, 35, 66, 7, 87, 38, 8, 95, 17, 28, 2, 15, 72, 96, 90, 95, 81, 12, 29, 83, 35]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

48

### Length of set2 is not equal to set1.
When we transform it to a set it's repeated values don't get computed into the len() function. 
it's assume that the set contains such value only once

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 3, 4, 9, 10, 11, 13, 16, 19, 21, 22, 23, 24, 26, 37, 39, 40, 49, 51, 53, 54, 55, 57, 60, 63, 64, 69, 70, 73, 74, 77, 78, 79, 80, 85, 88, 89, 91, 93, 94, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{35, 7, 8, 42, 75, 12, 46, 48, 86, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 5, 6, 14, 15, 17, 20, 25, 27, 28, 29, 30, 32, 33, 34, 36, 38, 41, 43, 44, 50, 52, 58, 61, 62, 65, 66, 67, 68, 71, 72, 81, 83, 84, 87, 90, 92, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [13]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
48
42
10
38

## Set 1 > Set 2 
As explained above, set2 doesn't have unique elements. Each repeated element gets computed only once in the length function.

## Set 3 
It represents the substraction of set 1 - set 2

<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Venn0100.svg/220px-Venn0100.svg.png />

## Set 4 
Same as Set 3 but only for unique elements present in Set 2. Makes sense it's smaller.

## Set 5 
Common values between Set 1 and Set 2.
<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Venn0001.svg/220px-Venn0001.svg.png />

#### Create an empty set called `set6`.

In [14]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 2, 3, 4, 5, 6, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 49, 50, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [17]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [21]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [25]:
# Your code here
set7 = set()
set7.union(set3, set4, set5)

set8 = set()
set8.union(set1, set2)

set7 == set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [45]:
# Your code here
list_set_1 = list(set1)
list_set_1.pop(0)
set1 = set(list_set_1)
print(set1)

{4, 5, 6, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 49, 50, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [51]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    if x in set1: 
        set1.remove(x)

print(set1)

remaining = [x for x in list_to_remove if x not in set1]
print(remaining)

{4, 5, 6, 10, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 43, 44, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 77, 78, 80, 83, 84, 85, 87, 88, 90, 92, 93, 94, 96, 97}
[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]